body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
}

body.warning-page {
    background-color: #900; /* Dark red background */
}

.welcome-container {
    text-align: center;
    padding: 40px;
    border: 2px solid #f00; /* Red border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2); /* Red shadow */
    background-color: #111; /* Darker background for container */
    color: #fff; /* White text */
}

h1 {
    font-size: 32px;
    color: #f00; /* Red color for headings */
    margin-bottom: 20px;
}

.warning-text {
    color: #f00; /* Red text */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.countdown {
    font-size: 24px;
    color: #f00; /* Red countdown */
    font-weight: bold;
    margin-top: 20px;
}

/* Play Button Styles */
.play-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #f00; /* Red background for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2); /* Red shadow */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.play-button:hover {
    background-color: #d00; /* Darker red on hover */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4); /* Darker shadow on hover */
}
